<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon">
            <i class="icon-refresh"></i>
          </span> 
          <h5>Post</h5>
          <span class='pull-right'>
            <%= link_to 'Back', public_blogs_path, :class => 'btn btn-inverse' %>
          </span>
        </div>
        <div class="widget-content nopadding updates">
          <div class="new-update clearfix">
            <i class="icon-ok-sign"></i>
            <span class="update-done">                    
              <a href="<%= public_blog_path(@post) %>" title=""><strong><%= @post.title %></strong></a>
              <span><%= @post.content %></span>
            </span>
            <span class="update-date"><span class="update-day"><%= day_format(@post.created_at) %></span><%= month_format(@post.created_at) %></span>
          </div>
        </div>        
      </div>
      <a href="#" class="like success" style="font-size: 15px;" data-id="<%= @post.id %>">
        <%= like_status(@post.id) %>
      </a><br />
      
      COMMENTS :
      <div id="comments">
        <%= render :partial => 'comment', :collection => @comments %>
      </div>

      <%= simple_form_for(@comment, :url => public_blogs_path(:id => @post.id), :remote => true) do |f| %>
        <%= f.text_area :content, :rows => '3' %>
        <%= f.submit 'Submit' %>
        <span id="loader" style="display: none;">
          <%= image_tag("/assets/spinner.gif") %>
        </span>
      <% end %>
    </div>
  </div>
</div>
